/* globals*/
body {
 position: relative;
}
.text-shadow {
  text-shadow: 3px 3px #333;
}


/*header Stules*/

.navbar {
  background-color: transparent;
  border: 3px solid  rgba(76, 175, 80, 0.3);
}
.navbar-default .navbar-nav>li>a  {
  color:  #ffd11a;
  font-size: 12px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0,.45);
  color: #00e600;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #00e600;
}
#flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-bottom: 15px;
}

/*jumbotron stylea*/
.jumbotron {
  background-image: url('../img/keyboard2.jpeg');
  height: 300px;
  background-position: center;
  background-size: cover;
}

#jumbotron-text {
  color: #ffd11a;
}

#jumbotron-text h1 {
  font-size: 8em;
  margin-top: 50px;
}
