@import url('https://fonts.googleapis.com/css?family=Diplomata|Kavoon');
/* globals*/
body {
 position: relative;
}
.text-shadow {
  text-shadow: 3px 1px #323;
}
.green-text {
  color: #00e600;
}
h1 {
  font-family: 'Diplomata', cursive;
}
h2 {
  font-family: 'Kavoon', cursive;
}
/*header Stules*/

.navbar {
  background-color: transparent;
  border: 3px solid  rgba(76, 175, 80, 0.3);
}
.navbar-default .navbar-nav>li>a  {
  color:  #ffd11a;
  font-size: 12px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0,.45);
  color: #00e600;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #00e600;
}
#flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-bottom: 15px;
}
 /*jumbotron stylea*/
.jumbotron {
  background-image: url('../img/keyboard2.jpeg');
  height: 500px;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

#jumbotron-text {
  color: #ffd11a;
}

#jumbotron-text h1 {
  font-size: 5em;
  margin-top: 100px;
}
@media screen and (max-width: 800px){
  #jumbotron-text h1 {
    font-size: 20px;
    font-weight: bold;
  }
}
.jumbotron h1 {
  animation: name 5s;
}
@keyframes name {
    0% {
    transform: scale(.01);
  }
  100% {
    transform: scale(1);
    }
}
.jumbotron p {
  font-weight: bold;
}
/*Projects Styles*/
#first-website-background{
  background-color: #806000;
  height: 600px;
}
.carousel-inner>.item>img, .img-responsive {
  padding-top: 6%;
}
#second-website-background{
  background-color: #405600;
  height: 600px
}

#third-website-background{
  background-color: #004d00;
  height: 600px;
}

.site-pics {
  padding: 0px;
  border: 23px solid rgba(76, 175, 80, 0.3);
}
.btn-primary {
  background-color: rgba(76, 175, 80, 0.3);
  border: yellow;
}
.btn-primary:hover {
  background-color: #ffd11a;
}
/*About Section Styles*/
#contact {
  background-color: rgba(76, 175, 80, 0.5);
  height: 600px;
  padding-top: 20px;
}
@media screen and (min-width: 700px) {
  #contaact {
    background-color: blue;
    height: 700px;
  }
}
